@media screen and (max-width: 1100px) and (min-width: 480px) {
  .leftSideMenu {
    width: 5.25em;
    padding: 0.25em 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  .container {
    width: 100%;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .logo {
    padding: 0.5em;
    margin-bottom: 0.5em;
  }

  .menuList {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25em;
  }

  .menuItem {
    width: 3.2em;
    height: 3.2em;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menuItem span {
    display: none;
  }

  .menuIcon {
    width: 1.7em;
    height: 1.7em;
  }

  .postButton {
    width: 3.125em;
    height: 3.125em;
    margin-top: 0.5em;
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
  }

  .postButton::after {
    content: "+";
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: var(--btn-text);
  }

  .userProfile {
    width: 2.8em;
    height: 2.8em;
    margin-top: auto;
    margin-bottom: 1em;
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .userProfile .avatar {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .userInfo,
  .more-icon {
    display: none;
  }

  .mainFeed {
    width: 37.5em;
    margin-left: 5.25em;
    border-right: 0.0625em solid var(--border-color);
  }
}

@media screen and (max-width: 480px) {
  .leftSideMenu {
    width: 100%;
    height: 3.5em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    border-top: 0.06em solid #eff3f4;
    border-right: none;
    background-color: var(--bg-main);
    z-index: 1000;
  }

  .container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .logo,
  .postButton,
  .userProfile,
  .menuItem span {
    display: none;
  }

  .menuList {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 3em;
  }

  .menuList li {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  .menuItem {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 0;
  }

  .menuItem:hover {
    background-color: transparent;
  }

  .menuList li:nth-child(n + 6) {
    display: none;
  }

  .menuIcon {
    width: 1.6em;
    height: 1.6em;
  }

  .mainFeed {
    width: 100%;
    margin: 0;
    padding: 0 0 3.5em 0;
    border: none;
  }

  .feedHeader {
    width: 100%;
    backdrop-filter: blur(0.75em);
    padding: 0;
  }

  .createPost {
    padding: 0.5em;
  }

  .postLeft .avatar {
    width: 2em;
    height: 2em;
  }

  .tweetInput {
    font-size: 1em;
  }

  .postFooter {
    max-width: 100%;
    padding-right: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .actionBtn .iconContainer {
    width: 1.6em;
    height: 1.6em;
  }

  .actionBtn span.count {
    font-size: 0.75em;
  }

  .deleteMenu {
    right: 0.5em;
  }
  .topic {
    font-size: 1.25em;
    margin-bottom: 0.3em;
    padding-left: 0.5em;
  }

  .feedListItem {
    padding: 0.8em 0.5em;
  }

  .feedListTitle {
    font-size: 0.95em;
  }

  .latest {
    padding: 0.5em;
  }

  .feedListMore {
    font-size: 1.4em;
    padding: 0.3em;
  }
}

@media screen and (max-width: 1100px) {
  .rightSide {
    display: none !important;
  }
}
