:root {
  --bg-main: #ffffff;
  --bg-secondary: #f7f9f9;
  --bg-hover: #eff3f4;

  --text-main: #0f1419;
  --text-secondary: #536471;
  --text-muted: #536471;
  --text-inverse: #ffffff;

  --btn-color: #0f1419;
  --btn-text: #ffffff;

  --border-color: #eff3f4;
  --secondary-hover: #2f3336;

  --twitter-blue: #1d9bf0;
  --twitter-blue-hover: #1a8cd8;
  --yellow: #ffac33;
  --like: #f91880;
  --success: #00ba7c;
  --warning: #ffd400;
  --red: #f4212e;
}

[data-theme="dark"] {
  --bg-main: #000000;
  --bg-secondary: #16181c;
  --bg-hover: #181818;

  --text-main: #e7e9ea;
  --text-secondary: #71767b;
  --text-muted: #71767b;
  --text-inverse: #000000;

  --btn-color: #eff3f4;
  --btn-text: #0f1419;

  --border-color: #2f3336;
  --secondary-hover: #eff3f4;

  --post-hover: rgba(255, 255, 255, 0.03);

  --red: #f4212e;
}

[data-theme="dark"] .logo img,
[data-theme="dark"] .menuIcon,
[data-theme="dark"] .postOptions img,
[data-theme="dark"] .deletePostBtn img,
[data-theme="dark"] .tinyIcon,
[data-theme="dark"] .iconContainer img,
[data-theme="dark"] .settingsIcon , [data-theme="dark"] .back-btn img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}
.postOptions,
.iconContainer,
.postOptions img,
.iconContainer img {
  filter: brightness(0) saturate(100%) invert(39%) sepia(11%) saturate(927%)
    hue-rotate(164deg) brightness(95%) contrast(89%);
}

[data-theme="dark"] .tweetInput {
  color: var(--text-main);
}
[data-theme="dark"] .tweetInput::placeholder {
  color: var(--text-secondary);
}

[data-theme="dark"] .deleteMenu {
  background-color: var(--bg-main);
  box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.15);
  border: 1px solid var(--border-color);
}

[data-theme="dark"] .actionBtn:not(.active) .iconContainer {
  filter: invert(49%) sepia(10%) saturate(417%) hue-rotate(173deg)
    brightness(92%) contrast(88%);
}
[data-theme="dark"] .dropdown-menu {
  background-color: var(--bg-secondary);
  border: 0.0625em solid var(--border-color);
}

[data-theme="dark"] .dropdown-menu a {
  color: white;
}

[data-theme="dark"] .dropdown-menu a:hover {
  background-color: var(--bg-hover);
}

body {
  background-color: var(--bg-main);
}
