
html, 
html * {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-duration: 300ms;
}

button:active,
a:active {
  transition-duration: 100ms;
}

.tab-btn.active {
  border-bottom-color: #1da1f2 !important;
  color: #1da1f2 !important;
}

.nav-link.active {
  color: #1da1f2 !important;
}

.sidebar-link.active {
  background-color: #f7f9fa;
}

.dark .sidebar-link.active {
  background-color: #192734;
}

@media (max-width: 768px) {
  .sidebar-left.active {
    left: 0 !important;
  }
}

.tweet-action.liked {
  color: #e0245e !important;
}
